/* nav bar styles */
.navbar{ background:#d84315;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.nav-link:hover{ background: #f4f4f4; color: #d84315; }

.navbar-collapse{ justify-content: flex-end;}

.navbar-toggler{  background:#fff !important;}

.fixed-top { position: fixed;}

.bg-dark{
    background-color:#d84315 !important;
    /* background-color: #dd2c00 !important; */
    }

/*header style*/
.header{
    background-image: url('../images/koi.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 1000px;
   }

.overlay{
    position: absolute;
    min-height: 1000px;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    }

.description h1{
    color:#d84315 ;
    }

.description p{
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
    }

.description button{
    border:1px  solid #d84315;
    background:#d84315;
    color:#fff;
    }