/* nav bar styles */
.navbar{ background:#d84315;}

.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}

.nav-link{ margin-right: 1em !important;}

.navbar-toggler{  background:#fff !important;}

.fixed-top { position: fixed;}

.bg-dark{
    background-color:#d84315 !important;
    /* background-color: #dd2c00 !important; */
    }

/*header style*/
.header{
    background-image: url('../images/koi.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
   }

.overlay{
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
   }

.description{
    position: absolute;
    top: 20%;
    margin: auto;
    padding: 2em;
    }

.description h1{
    color:#d84315 ;
    }

.description p{
    color:#666;
    font-size: 20px;
    width: 100%;
    line-height: 1;
    }

.description button{
    border:1px  solid #d84315;
    background:#d84315;
    color:#fff;
    }

.about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
    margin-bottom: 6rem;
    }
    .about h3{
    color:#d84315;
    padding-top: 2rem;
    }
    .about img{
    height: 100%;
        width: 100%;
    }

.info {margin-bottom: 30px;}

.btn {
    background-color: #d84315;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 0;
  }

  /*Portfolio*/
.portfolio{
    margin: 4em 0;
    position: relative;
    margin-bottom: 1rem;
   }
   .portfolio h1{
    color:#d84315;
    margin: 2em; 
    margin-bottom: 1rem;
   }
   .portfolio img{
     height: 15rem;
     width: 100%;
     margin: 1em;
   }

   #orange img:first-child:hover {
    border: 2px solid #d84315;
  }

.chatto {
      background-image: url('../images/chatto.png');
  }

.band {
    background-image: url('../images/band.jpg');
}

.travel {
    background-image: url('../images/travel.jpg');
}

.coffee {
    background-image: url('../images/coffee.jpg');
}