@import '../../styles/globalStyles';

.header {
    display: flex;
    // background-color: $blue;
    &-right {
        display: flex;
        width: 20vw;
        justify-content: space-evenly;
        margin-left: auto;
        margin-top: 5px;
        &__text {
            color: $white;
            font-family: $font;
        }
    }
}