@import '../../styles/globalStyles';

.about {
    display: flex;
    margin-top: 25px;
    &-left {
        margin-left: 5vw;
        &__image {
             width: 25vw;
             border-radius: 3px;
        }
    }
    &-right {
        width: 70vw;
        margin-left: 1vw;
        margin-right: 15px;
        margin-top: 20px;
        &__text {
            font-size: 20px;
        }
    }
}