@import '../../styles/globalStyles';

.about {
    &-left {
        width: 100vw;
             background-image: url('../../assets/images/koi.jpg');
             background-size: contain;
             height: 55rem;
        &__text {
            display: flex;
            margin-top: 0;
            color: white;
            font-size: 40px;
        }
        &__hover:hover {
            display: none;
        }
    }
}