@import '../../styles/globalStyles';

.projects {
    &-top {
        margin-left: 5vw;
        &__title {
            text-align: left;
        }
    }
    &-bottom {
        &__title {
            font-size: $titleSmall;
        }
        &__image {
            object-fit: contain;
            width: 30vw;
        }
        &__text  {
            width: 30vw;
            margin-left: 35vw;
        }
    }
}